<!DOCTYPE html>

<!-- Creo el archivo html -->
<html>
    <!-- Cabeza del html -->
    <head>  
        <title>Código morse</title>
        <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script src="./index.js"></script>
    </head>

    <!-- Cuerpo del html --> 
    <body>
        <!-- Comienzo del articulo del código morse --> 
             <!-- Header del html. Donde va una introducción al sitio. Lo primero que se verá --> 
            <header>
                <h1>El código morse</h1>
                <p>Escrito por Iñaki Frutos</p>
                <img src="telegrafo.jpeg" alt="Ilustración de un telegrafo">
            </header>
            <!--  --> 
             <!-- Contenido princiapl del article --> 
            <main>
                <article>
                    <h2>¿Qué es el código morse?</h2>
                    <p>
                        Es un sistema de comunicación que tiene representación mediante señales intermitentes que son 
                        llamadas usualmente puntos y rayas
                    </p>
                    <p>
                        Se usaba antes para la comunicación	mediante el telegrafo (inventaod por Samuel Morse), pero ahora
                        no se usa tanto como fue en su época, en la cuál los barcos la utilizaban, así como los aviones. Pero sigue 
                        siendo utilizado en caso de no poder comunicarse por radio, así que sigue siendo una herramienta útil, en cierto sentido
                    </p>

                    <h2>Cómo funciona el código morse</h2>
                    <p>
                        El código morse utiliza puntos y rayas de forma intermitente. 
                        Esto sirve para poder representar a todas las letras del alfabeto inglés, 
                        junto con algunos simbolos de puntación
                    </p>

                    <h3>Letras en código morse</h3>
                    <!-- Tabla de codigo morse -->
                    <table border="1">
                        <!-- Primera fila-->
                        <tr>
                            <td>A</td>
                            <td>. -</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>B</td>
                            <td>- . . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>C</td>
                            <td>- . - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>D</td>
                            <td>- . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>E</td>
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>F</td>
                            <td>. . - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>G</td>
                            <td>- - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>H</td>
                            <td>. . . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>I</td>
                            <td>. .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>J</td>
                            <td>. -</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>K</td>
                            <td>- . . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>L</td>
                            <td>- . - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>M</td>
                            <td>- . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>N</td>
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>O</td>
                            <td>. . - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>P</td>
                            <td>- - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>Q</td>
                            <td>. . . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>R</td>
                            <td>..</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>S</td>
                            <td>. -</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>S</td>
                            <td>- . . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>T</td>
                            <td>- . - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>U</td>
                            <td>- . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>V</td>
                            <td>.</td>
                        </tr>
                        <tr>
                            <td>W</td>
                            <td>. . - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>X</td>
                            <td>- - .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>Y</td>
                            <td>. . . .</td>
                        </tr>
                        <!-- Fila-->
                        <tr>
                            <td>Z</td>
                            <td>..</td>
                        </tr>

                </table>

                <h3>Números en código morse</h3>
                <table>
                    <!-- Fila-->
                    <tr>
                        <td>1</td>
                        <td>. -</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>2</td>
                        <td>- . . .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>3</td>
                        <td>- . - .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>4</td>
                        <td>- . .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>5</td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>. . - .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>7</td>
                        <td>- - .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>8</td>
                        <td>. . . .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>9</td>
                        <td>..</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>0</td>
                        <td>..</td>
                    </tr>
                </table>

                <h3>Símoblos en código morse</h3>
                <table>
                    <!-- Fila-->
                    <tr>
                        <td>Coma</td>
                        <td>. -</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Simbolo de pregunta</td>
                        <td>- . . .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Dos puntos</td>
                        <td>- . - .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Guión</td>
                        <td>- . .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Comilla</td>s
                        <td>.</td>
                    </tr>
                    <tr>
                        <td>Parentes izquierdo</td>
                        <td>. . - .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Signo igual =</td>
                        <td>- - .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Punto</td>
                        <td>..</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Punto y coma ;</td>
                        <td>..</td>
                    </tr>

                    <!-- Fila-->
                    <tr>
                        <td>Slash</td>
                        <td>. -</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Apostrofo</td>
                        <td>- . . .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Guión bajo</td>
                        <td>- . - .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Parentesis derecho</td>
                        <td>- . .</td>
                    </tr>
                    <!-- Fila-->
                    <tr>
                        <td>Signo de suma</td>s
                        <td>.</td>
                    </tr>
                    <tr>
                        <td>Arroba</td>
                        <td>. . - .</td>
                    </tr>
                </table>
                </article>

                <article>
                    <h2>Traductor texto y código morse</h2>


                </article>
            </main>
            <!-- Pie de página del html. Acá van a ir créditos y alguna red social --> 
            <footer>

            </footer>
        
    </body>
</html>